<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:5555/style.css" />
    <title>Document</title>
</head>

<body>
    <h1>hello</h1>
    <table>
        <tr class="single-row">
            <th>Identity</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Class</th>
        </tr>
        <tr>
            <td>
                <%= information.id %>
            </td>
            <td>
                <%= information.name %>
            </td>
            <td>
                <%= information.age %>
            </td>
            <td>
                <%= information.gender %>
            </td>
            <td>
                <%=information.classx %>
            </td>
        </tr>
    </table>
    <a href="/persontable">Back to Table</a>
    <a href="/singlePersonInfo/<%= information.id %>/edit ">Edit info</a>

    <a href="/delinfo/<%= information.id %>"><button>Delete</button></a>


</body>

</html>